<div *ngIf="details">
    <mat-card class="my-card">
        <mat-card-header>
            <mat-card-title>
                {{ details.name }}
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ details.image }}">
        <mat-card-content>
            <p>Prix: {{ details.price }}$</p>
            <p>Nutriscore: {{ details.nutriscore }}</p>
            <p *ngFor="let nutriment of nutriments">
                {{ nutriment.key }}: {{ nutriment.value }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="goBack()">Retour</button>
        </mat-card-actions>
    </mat-card>